body {
    background: #6ca3a3;
}

.fish-container {
    position: fixed; 
    left: 0;
    pointer-events: none;
}
.fish {
    position: fixed;
    width: 235px;
    height: 104px;
    animation: swim var(--animation-speed, 10s) linear infinite;
}

@keyframes swim {
    0% {
        left: -300px;
    }
    100% {
        left: calc(100vw + 1600px);
    }
}

#fish1, #fish2, #fish3, #fish4, #fish5, #fish6{
    fill: #528484;
    animation: flicker 1.5s infinite;
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}

